Just some text

  <!>
    more text

even more text

   <!---->

<!>


 still more text

  <!-- TMPL_IF NAME="foo" -->
            if
  <!-- TMPL_ELSE NAME="foo" -->
            else
  <!-- /TMPL_IF NAME="foo" -->


final text


  <TMPL_IF NAME=foo  >
            if
  <TMPL_ELSE NAME=foo  />
            else
  </TMPL_IF NAME=foo>


final text
